#icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.icon {
    padding: 0 !important;
    background-color: transparent !important;
    color: #B9CAC7 !important;
    font-size: 2rem !important;
}

.icon span {
    transition: all 0.3s;
}

.icon:hover span {
    transform: scale(1.05, 1.05);
    color: #FFF3EB;
}

#delete:hover span {
    color: #FF5C5C;
    cursor: pointer;
}

#entry-container {
    display: flex;
    flex-flow: column nowrap;
}

img {
    max-height: 32rem;
    max-width: 75%;
    align-self: center;
    border-radius: 0.25rem;
    object-fit: contain;
}

#caption {
    align-self: center;
    margin-left: 25%;
    margin-top: -2.5rem;
    display: flex;
    flex-flow: column nowrap;
}

#date {
    align-self: flex-end;
    font-size: 1.25rem;
    font-weight: bold;
    color: #B9CAC7;
}

#title {
    padding-bottom: 1rem;
    z-index: 1;
    font-size: 4rem;
    font-family: 'Yellowtail', cursive;
    font-weight: normal;
    text-shadow: 2px 2px 2px #272B27;
}

#body {
    margin-top: 2rem;
    width: 75%;
    align-self: center;
    line-height: 1.25em;
}